footer {
    margin-top: 6rem;
}

.jumbotron {
    margin-bottom: 0;
}

.top-bottom-grey-border{
    border-top: #808080 solid 1px;
    border-bottom: #808080 solid 1px;
}

.modal-80w {
    width: 80vw;
    max-width: 80vw !important;
}